MONGO_URI="mongodb+srv://user_0:pViUa0jBygk34zEC@cluster0.85vbuae.mongodb.net/?retryWrites=true&w=majority"

const client = new MongoClient(mongodb+srv://user_0:pViUa0jBygk34zEC@cluster0.85vbuae.mongodb.net/?retryWrites=true&w=majority, { useNewUrlParser: true, useUnifiedTopology: true, serverApi: ServerApiVersion.v1 });
client.connect(err => {
  const collection = client.db("test").collection("devices");
  // perform actions on the collection object
  client.close();
});
